Package: opush-conf
Version: [[opush.packaging.version]]-[[opush.packaging.release]]
Section: net
Priority: optional
Architecture: all
Replaces: obm-conf
Conflicts: obm-conf
Maintainer: Matthieu Baechler <mbaechler@linagora.com>
Description: Active Sync server for Open Business Management
 This package helps to generate a first configuration for opush
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.
